.container{
    justify-content: center;
    align-items: center;
    padding: 40px;
}
h1{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: "Arial";
    border: 1px solid #3e3e3e;
}
th, td{
   text-align: left;
   padding: 8px;
   border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}